Checks: 'cppcoreguidelines-*,
performance-*,
modernize-*,
google-*,
misc-*
cert-*,
clang-analyzer-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
-modernize-use-trailing-return-type,
-modernize-use-nodiscard
-misc-non-private-member-variables-in-classes,
-cppcoreguidelines-avoid-non-const-global-variables,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-prefer-member-initializer
'

HeaderFilterRegex: '.*'
